button{
    background : deepskyblue;
    font-size : 20px;
    border : 2px solid black;
    border-radius : 6px;
    height : 30px;
    width : 80px;
    margin-left : 20px;
}

input{
    border : 1px solid black;
    border-radius : 6px;
    width : 180px;
    height : 25px;
    font-size : 18px;
}

.main{
    border : 2px solid black;
    border-radius : 6px;
    width : 300px;
    height : 45px;
    font-size : 20px;
}

.del{
    background : Gainsboro;
    margin-left :60px;
    margin-right : 15px;
    font-size : 15px;
    width : 100px;
}

span{
    border : 1px solid black;
    border-radius: 6px;
    padding : 3px;
    margin-left : 10px;
}

.subToDo{
    width : 320px;
    height : 35px;
    margin-left : 180px;
    font-size : 15px;
    border : 1.5px dashed black;
}

fieldset{
    width : 750px;
    border : 5px double rgb(26, 39, 232);
}

.normalText{
    border : none;
    background : pink;
    margin-left : 650px;
}

.update{
    border : 1px solid black;
    width : 180px;
    margin-left : 10px;s
}